@model WEBANNUOCHOA.Models.Category

@{
    ViewData["Title"] = "Display";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết danh mục</h1>



@* Bảng thống kê danh mục *@
<div class="container text-center danhmuc__thongkedanhmuc pt-4">
    <div class="row fw-bold  border-dark">
        <div class="col-md-4  border-end border-dark">
            <p>Phân loại</p>
        </div>
        <div class="col-md-4">
            <p>Thao tác</p>
        </div>
    </div>
</div>

@* Danh mục của từng loại *@
<div class="container text-center category__item">
    
        <div class="row">
            
            <div class="col-md-4 border-end border-dark">
                <p class="my-4">@Html.DisplayFor(model => model.Name)</p>
            </div>

            @* Thao tác *@
            <div class="col-md-4 my-4">
                
                <a asp-action="Update" asp-route-id="@Model?.Id" class="btn btn-warning text-light">Chỉnh sửa</a>
                
            </div>

        </div>
    
</div>

<a asp-action="Index"><button class="btn btn-primary mt-4">Quay về</button></a>


