html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
/* ===== NAVBAR - HOVER =====*/
/* CSS font chữ và hover cho navbar-brand / thanh menu của navbar */
.navbar-brand, .bi-list, .bi-bag-check {
    font-family: fantasy;
    transition: 0.3s ease;
}
.navbar-brand:hover, .bi-list:hover, .bi-bag-check:hover, .nav-link:hover {
    opacity: 0.6 !important;
}
/* CSS nút menu của navbar - Part 2 */
@media (max-width: 576px) {
    .button--cart {
        display: none !important;
        visibility: hidden !important;
    }
}
/* CSS hover cho nav-link */
.nav-link {
    transition: 0.3s ease;
}
/* === CSS cho Admin === */
.iconAndImage--item {
    font-family: sans-serif;
}
/* === Privacy === */
.chinhsach h3 {
    font-family: Oswald, sans-serif;
    font-weight: 700;
}
.chinhsach .chuinnghieng {
    font-style: italic;
}
.chinhsach p {
    margin: 30px 0px !important;
}
/* Footer */
.footer p {
    margin-bottom: 5px;
}

.footer p:hover {
    color: white !important;
    cursor: pointer;
}

.footer__social .bi {
    border: 2px solid white !important;
    padding: 10px !important;
    margin-right: 5px !important;
    border-radius: 13px !important;
    cursor: pointer;
}

.hr {
    background-color: white !important;
    border: 1px solid white !important;
}

.img--moveright {
    margin-left: 100px;
}
.skill {
    content: "";
    background-color: white !important;
    position: absolute;
    top: -41px;
    left: 0;
    height: 40px;
    width: 287px;
}
/* CSS cho nút thêm giỏ hàng */
.btn__cart {
    position: relative;
    margin-left: 55px;
    transition: 0.5s;
    visibility: hidden;
    transition: 0.5s linear;
}
.block__card:hover .btn__cart {
    transform: translateY(-50%);
    visibility: visible;
}
.img__cart {
    position: relative;
    top: 34px;
    transition: 0.3s ease;
}
.block__card:hover .img__cart {
    top: 2px;
}




