html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}
/* ===== NAVBAR - HOVER =====*/
.navbar__registerlogin--user-parent {
    transition: 0.3s;
}
.navbar__registerlogin--user-parent:hover {
    opacity: 0.7;
    transform: rotateY(180deg);
}
.navbar__registerlogin--user {
    transition: 0.3s;
    opacity: 0;
}
.nav-item:hover .navbar__registerlogin--user {
    opacity: 1;
}
/* CSS tam giác cho register và login */
.navbar__registerlogin--user li::after {
    content: "";
    position: absolute;
    top: -21px;
    width: 0;
    height: 0;
    border: 11px solid #ffd70000;
    border-bottom-color: white;
    right: 7px;
}
/* CSS font chữ và hover cho navbar-brand / thanh menu của navbar */
.navbar-brand, .bi-list,  {
    font-family: fantasy;
    transition: 0.3s ease;
}
.block__cart a {
    transition: 0.3s;
}
.block__cart a:hover {
    transform: rotateY(180deg);
}
.navbar-brand:hover, .bi-list:hover, .bi-bag-check:hover {
    opacity: 0.6 !important;
}
/* CSS nút menu của navbar - Part 2 */
@media (max-width: 576px) {
    .button--cart {
        display: none !important;
        visibility: hidden !important;
    }
}
/* CSS hover cho nav-link */
.gachngang {
    transition: 0.3s ease;
    position: relative;
}
.gachngang::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 9px;
    width: 0;
    height: 3px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.gachngang:hover::after {
    visibility: visible;
    opacity: 1;
    width: 80%;
}
.gachngang:hover {
    opacity: 0.7;
}

/* === CSS cho Admin === */
.iconAndImage--item {
    font-family: sans-serif;
}
/* === Privacy === */
.chinhsach h3 {
    font-family: Oswald, sans-serif;
    font-weight: 700;
}

.chinhsach .chuinnghieng {
    font-style: italic;
}

.chinhsach p {
    margin: 30px 0px !important;
}
/* CSS cho nút thêm giỏ hàng */
.item__cart button {
    margin-left: 116px;
    transition: 0.3s ease-in-out !important;
    opacity: 0;
}

.item__cart .img-fluid {
    width: 250px;
    position: relative;
    top: 22px;
    transition: 0.3s !important;
    border-radius: 10px;
    margin: auto;
}

.block__card:hover .img-fluid {
    transform: translateY(-6%);
}

.block__card:hover button {
    transform: translateY(-50%);
    opacity: 1;
}
/* CSS hover vào card-title */
.card-title {
    transition: 0.2s;
    font-family: "Open Sans", sans-serif;
}

.card-title:hover {
    color: #6988f6 !important;
}
/* CSS cho trang Login */
.login--title {
    position: relative;
    left: 115px;
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
}

.login--title::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 3px;
    width: 30%;
    background-color: black;
    height: 4px;
}
/* CSS cho nút login-submit VÀ registerSubmit trong Login */
#login-submit, #registerSubmit {
    font-size: 17px;
    transition: 0.4s;
}

#login-submit:hover {
    background-color: black;
}

#registerSubmit {
    background-color: black;
}

#login-submit {
    background-color: #fdbb4b;
}

#registerSubmit:hover {
    background-color: #fdbb4b;
}
/* CSS cho input form-control trong Login */
.form-control {
    border-radius: 10px;
    background-color: #ccc6;
}


/* FOOTER*/
.newsletter:hover {
    opacity: 0.7;
}
