@model WEBANNUOCHOA.Models.Product

@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-5">Thêm sản phẩm</h1>
        </div>
        <div class="col-md-4 block__themsp">
            <form asp-action="Add" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Name" class="control-label">Tên sản phẩm *</label>
                    <input asp-for="Name" class="form-control mt-2 py-2" style="background-color: #cccccc8c;" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Price" class="control-label">Giá sản phẩm *</label>
                    <input asp-for="Price" class="form-control mt-2 py-2" style="background-color: #cccccc8c;" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Description" class="control-label">Mô tả sản phẩm *</label>
                    <input asp-for="Description" class="form-control mt-2 py-2" style="background-color: #cccccc8c;" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="CategoryId">Danh mục *</label>
                    <select asp-for="CategoryId" asp-items="ViewBag.Categories"
                            class="form-control mt-2 py-2" style="background-color: #cccccc8c;"></select>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ImageUrl">Hình ảnh sản phẩm *</label>
                    <input type="file" asp-for="ImageUrl" class="form-control mt-2 py-2" style="background-color: #cccccc8c;" />
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Thêm" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
